.swagger-ui .topbar {
    background-color: rgba(23,54,71,255);
}

.swagger-ui .topbar-wrapper img {
    content: url('/images/your-logo.png');
    max-height: 140px;
    max-width: 150px;
}

/* Đổi màu của tiêu đề trang */
.swagger-ui .info .title {
    color: #e74c3c;
    font-size: 50px;
    font-weight: bold;
}

// Đổi màu và font chữ của các endpoint 
.swagger-ui .opblock-summary-method {
    color: #27ae60;
    font-weight: bold;
}

/* Thay đổi font chữ toàn bộ trong Swagger UI */
.swagger-ui {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.swagger-ui input[type="text"],
.swagger-ui input[type="password"],
.swagger-ui input[type="email"] {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #333;
    padding: 8px;
}
